.App {
  text-align: center;
}

#header {
  background-image: linear-gradient(#2edca1, #07afdc);
}
.menuButton
{
  border: none;
  position: relative;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #07afdc;
  cursor: pointer;
  color: white;
}
.menuButtonChanged
{
  border-bottom: 2px solid white;
  border-top: 2px solid #07afdc;
  border-left: 2px solid #07afdc;
  border-right: 2px solid #07afdc;
  position: relative;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #07afdc;
  cursor: pointer;
  color: white;
}
.font
{
  text-align: left;
  margin-left:auto; 
  margin-right:auto;
  color: White;
  padding: 1%;
}

.menu
{
  background-color: #07afdc;
  padding-top: 2.5%;
  padding-bottom: 1%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.486);
 padding-right:4.1%;
}

.order
{
  margin: 5%;
}

.orderTable
{
  text-align: left;
  margin-left:auto; 
  margin-right:auto;
  color: #2edca1;
}

.name
{
  color:white;
}

.listWrapper{
  display: table-row;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #07afdc;
  position: relative;
  width: 35%;
  left: 30.5%;
  margin-top: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list
{
  padding-left: 2%;
  text-align: left;
  display: table-cell;
  color:white;
}

li{
  list-style-type:none;
}


.fakeTableHeader
{
  margin-top: 2%;
  border: 1px solid #ddd;
  padding: 1%;
  background-color: #07afdc;
  color: white;
}
.fakeTable
{
  border: 1px solid #ddd;
  padding: 1%;
  cursor: pointer;
  background-color: white;
}
.td{
  margin: 2%;
}
.tableWrapper div:nth-child(even){background-color: #f2f2f2;}


.tableWrapper
{
  width:50%;
  margin: auto;
}
#c_order{
  border-collapse: collapse;
  width: 50%;
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.486);
  background-color: #ffffff;
  
}

#c_order td{
  border: 1px solid #ddd;
  padding: 3%;
}

#c_order tr:nth-child(even){background-color: #f2f2f2;}

#c_order tr:hover {background-color: #ddd; cursor: pointer;}

#c_order th {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #07afdc;
  color: white;
  border: 1px solid #ddd;
}


.feed
{
  margin-top: 2%;
  margin-bottom: 2%;
  display:inline-block;
    position:relative;
}

.btn1
{
  margin-left: 2%;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  cursor: pointer;
}

.btn2{
position:absolute;
bottom:10px;
right:10px;
}

.prefWrapper
{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #1fbce4;
  width: 50%;
  margin: auto;
  border-radius: 23.5px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.prefInput
{
  margin-left: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 30%;
  padding: 1%;
}
.editInput
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 35%;
  padding: 0.5%;
}
.pref
{
  margin-right: 1%;
  margin-left: 1%;
 font-size: 1.5vw;
}

.prefs
{
  margin: 4%;
}
#CRM
{
margin-top: 2%;
margin-bottom: 2%;
font-family: Segoe Script;
color: #05419b;
/*font-family: Gabriola;*/
font-style: italic;
font-size: 2vw;
}

.eimg
{
  position: absolute;
  right: 33%;
  cursor: pointer;
  width: 2%;
}

.dimg
{
  position: absolute;
  right: 28%;
  cursor: pointer;
  width: 2%;

}

