.App {
  text-align: center;
}

#header {
  background-image: linear-gradient(#2edca1, #07afdc);
}
.menuButton
{
  border: none;
  position: relative;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #07afdc;
  cursor: pointer;
  color: white;
}
.menuButtonChanged
{
  border-bottom: 2px solid white;
  border-top: 2px solid #07afdc;
  border-left: 2px solid #07afdc;
  border-right: 2px solid #07afdc;
  position: relative;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #07afdc;
  cursor: pointer;
  color: white;
}
.font
{
  /*color: white;*/
  text-align: left;
  margin-left:auto; 
  margin-right:auto;
  color: White;
  padding: 1%;
}

.menu
{
  background-color: #07afdc;
  padding-top: 2.5%;
  padding-bottom: 1%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.486);
}

.order
{
  margin: 5%;
}

.orderTable
{
  text-align: left;
  margin-left:auto; 
  margin-right:auto;
  color: #2edca1;
}

.listWrapper{
  display: table-row;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.list
{
  padding-left: 2%;
  text-align: left;
  display: table-cell;
  color:white;
}
li{
  list-style-type:none;
  font-size: 2.2vh;
}

.fakeTableHeader
{
  display: table-row;
  background-color: #07afdc;
  color: white;
  height: 3vw;
}
.fakeTableRow
{
  background-color: white;
  display: table-row;
  height: 3vw;
  
}
.fakeTableCol{
  
  float: left;
  display: table-column;
  width: 16%; 
  padding-top: 0.8vw;
  font-size: 2.2vh;
}
.fakeDetailsTableCol{
  float: left;
  display: table-column;
  width: 16%;
  padding-top: 0.8vw;
  font-size: 2.2vh;
}
.fakeDetailsTableRow{
  background-color: #2edca23a;
  display: table-row;
  height: 3vw;
  
}
.tableWrapper
{
  margin-top: 3%;
  display: table;         
  width: 90%;
  margin-left: 5%;
}

.fakeTableWrapper
{
  display: table;         
  width: 100%;
}

.fakeDetailTableHeader{
  display: table-row;
  background-color: #2edca262;
  width: 100%;
  margin-bottom: 2%;
}

#c_order{
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.486);
  background-color: #ffffff;
}

#c_order td{
  border: 1px solid #ddd;
  padding: 3%;
}


#c_order th {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #07afdc;
  color: white;
  border: 1px solid #ddd;
}


.feed
{
  margin-top: 2%;
  margin-bottom: 2%;
  display:inline-block;
  position:relative;
}

.addPref
{
  margin-left: 2%;
  width: 15%;
  font-size: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  cursor: pointer;
}

.okBtn2{
position:absolute;
bottom:10px;
right:10px;
cursor:pointer;
border-radius: 20px;
padding-left:30px;
padding-right: 30px;
}

.prefWrapper
{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #1fbce4;
  width: 50%;
  margin: auto;
  border-radius: 23.5px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.prefInput
{
  margin-left: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 30%;
  padding: 1%;
}
.editInput
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 35%;
  padding: 0.5%;
}
.pref
{
  margin-right: 1%;
  margin-left: 1%;
 font-size: 1.5vw;
}

.prefs
{
  margin: 4%;
}
#CRM
{
margin-top: 2%;
margin-bottom: 2%;
font-family: Segoe Script;
color: #05419b;
/*font-family: Gabriola;*/
font-style: italic;
font-size: 2vw;
}

.eimg
{
  position: absolute;
  right: 33%;
  cursor: pointer;
  width: 2%;
}

.dimg
{
  position: absolute;
  right: 28%;
  cursor: pointer;
  width: 2%;

}

.seeDetailsBtn
{
  cursor: pointer;
  border-radius: 20px;
}

.okBtn
{
  cursor:pointer;
  border-radius: 20px;
  padding-left: 5%;
  padding-right:5%;
  margin-left: 5%;
}

.saveEditBtn
{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
  border-radius: 20px;
  margin-left: 90%;
  color: white;
}


.reorderWrapper
{
  float: right;
  background-color: white;
  width: 40%;
  left: 20%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderFeed
{
  border-radius: 20px;
  width: 70%;
  padding: 1%;
}



.personalInfoWrapper{
  display: table-row;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #07afdc;
  position: relative;
  width: 35%;
  left: 30.5%;
  margin-top: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.personalInfoList
{
  padding-left: 2%;
  text-align: left;
  display: table-cell;
  color:white;
}

li{
  list-style-type:none;
}

.newOrder
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #2edca1;
  color:white;
  border-radius: 20px;
  cursor: pointer;
}

.customerInfoWrapper
{
  display: table-row;
  display:flex;
  justify-content: center;
  align-items: center;
}

.col
{
  padding-left: 2%;
  text-align: left;
  display: table-cell;
  color:white;
}


.customerInfoWrapper{
  margin-top: 2%;
  display: table-row;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.orderProductsWrapper
{
  width: 70%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color:#07afdc;
  border-radius: 20px;
}

.CPIH
{
  color: white;
  font-size: 20px;
  font-family: Century Gothic;
}

.preferenceList
{
  list-style-type:disc;
  text-align: left;
}


.fakeTableWrapperr
{
  margin:auto;
  display: table;         
  width: 100%;
}
.fakeTableRoww
{
  background-color: white;
  display: table-row;
  height: 3vw;
  
}
.fakeTableColl{
  
  float: left;
  display: table-column;
  width: 33%; 
  padding-top: 0.8vw;
  font-size: 2.2vh;
}

.fakeTableHeaderr
{
  display: table-row;
  background-color: #07afdc;
  color: white;
  height: 3vw;
  margin:auto;
}

.customerInfoWrapperr
{
  display: table-row;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.col2
{
  padding-left: 2%;
  text-align: left;
  display: table-cell;
}

.tableWrapperr
{
margin-top: 1%;
  display: table;         
  width: 90%;
  margin-left: 5%;
}